*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font: 400 1rem/1.6 'Helvetica Neue', Helvetica, sans-serif;
}

footer, header, hgroup, menu, nav, section, small {
  display: block;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}