:root {
  --dark: #333;
  --light: #f4f4f4;
  --gray-1: #f4f4f4;
  --gray-2: #a8a8a8;
  --gray-3: #777;
  --gray-4: #555;
  --gray-5: #3a3a3a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: HelveticaNeue, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

input, textarea {
  font-size: inherit;
  padding: 0.5rem;
}