:root {
  --dark: #333;
  --light: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: HelveticaNeue, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

input, textarea {
  font-size: inherit;
  padding: 0.5rem;
}