/* -----------------------------------------
  Base styles
------------------------------------------*/
body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: white;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-heading-weight;
}

h2, h3, h4 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

