@import 'config';
@import 'extensions';
@import 'reset';
@import 'base';
@import 'utilities';

// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }
  li {
    padding: 1rem 1.5rem;
  }
  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    // transparent border to receive hover effect
    border-bottom: 3px solid transparent;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    // Header Content
    & .header-content {
      text-align: center;
      padding-top: 20%;

      & h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
  // Header Inner
  &-inner {
  }
}

// Home Sections
#home {

  // home section A
  &-a {
    .specials {
      margin-top: 3rem;
      @include even-cols(4);

      .fas {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }

  // home section B
  &-b {
    .stats {
      @include even-cols(4, 0);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-inner {
          font-size: 2rem;
          font-weight: 700;
        }
      }
      div {
        padding: 3rem 0;
        
        &:nth-child(odd) {
          background: $light-color;
        }
        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }

} // end-home