:root {
  --pg1-color: steelblue;
  --pg2-color: tan;
  --pg3-color: teal;
  --pg4-color: slateblue;
  --light: #f4f4f4;
  --dark: #333;
  --animate-speed: 0.75s;
}

body {
  line-height: 1.4;
  color: white;
  /* this will hide the scrollbars */
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 0 4rem;
}
.page h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 1rem;
}
.page p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  background: var(--light);
  color: var(--dark);
  text-decoration: none;
  border: none;
  margin: 2rem 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: none;
  transition: all 0.3s;
}
.btn:hover {
  border-radius: 6px;
}
.btn:hover, .btn-dark {
  background: var(--dark);
  color: var(--light);
}
.btn-dark:hover {
  background: var(--light);
  color: var(--dark);
}

/* page colors */
#page-1 {
  background-color: var(--pg1-color);
}
#page-2 {
  background-color: var(--pg2-color);
}
#page-3 {
  background-color: var(--pg3-color);
}
#page-4 {
  background-color: var(--pg4-color);
}

/* initial page animation */
#page-1 h1 {
  opacity: 0;
  transform: translateY(-100px);
  animation: initial-heading var(--animate-speed) forwards 0.3s ease-in-out;
}
#page-1 p {
  opacity: 0;
  transform: translateY(-50px);
  animation: initial-para var(--animate-speed) forwards ease-in-out;
}
#page-1 .btn {
  opacity: 0;
  transform: translateY(30px);
  animation: initial-btn var(--animate-speed) forwards 0.2s ease-in-out;
  
}

@keyframes initial-heading {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes initial-para {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes initial-btn {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}